Java/Applications/Distributed/JWSTest/WpfClientApp/Service References/Shopping/customerws.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://shopping/" targetNamespace="http://shopping/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Inquire" type="tns:Inquire" />
  <xs:element name="InquireResponse" type="tns:InquireResponse" />
  <xs:element name="Purchase" type="tns:Purchase" />
  <xs:element name="PurchaseResponse" type="tns:PurchaseResponse" />
  <xs:complexType name="Inquire">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InquireResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Purchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PurchaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:Receipt" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Receipt">
    <xs:sequence>
      <xs:element name="Payment" type="xs:double" />
      <xs:element name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>