MS.NET/Applications/Distributed/WcfWSTest/WpfClientApp/Service References/Shopping/CustomerSoap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8013/shopping/CustomerSoap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerApp" />
  <xs:element name="Inquire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InquireResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Purchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerApp" minOccurs="0" name="PurchaseResult" nillable="true" type="q1:Receipt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>