MS.NET/Applications/Distributed/WcfWSTest/WpfClientApp/Service References/Shopping/CustomerSoap1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Receipt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Payment" type="xs:double" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receipt" nillable="true" type="tns:Receipt" />
</xs:schema>